<!-- <h2 mat-dialog-title>Dialog Title</h2>
    <mat-dialog-content>
      <p>Dialog content goes here.</p>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions> -->
<ng-container *ngIf="this.modelData.title == 'CANCEL_ORDER'">
  <div class="header-container p-3 d-flex container align-items-center justify-content-between">
    <h2>Cancel Order</h2>
    <img src="/assets/img/cross.png" height="24px" width="24px" class="cursorPointer mr-5" (click)="closePopup()"
      alt="crosstab" />
  </div>
  <div class="text-center text-success successText">
    <h3 class="mt-3 text-dark">Are You Sure You Want to Cancel Order</h3>
  </div>
  <div class="buttonsContainer mt-5">
    <button type="button" class="btn btn-primary">
      Yes
    </button>

    <button type="button" class="btn btn-secondary" (click)="closePopup('NO')">
      No
    </button>

  </div>
</ng-container>

<ng-container *ngIf="this.modelData.title ==='TRACK_ORDER'">
  <div class="header-container p-3 d-flex container align-items-center justify-content-between">
    <h2>Track Order</h2>
    <img src="/assets/img/cross.png" height="24px" width="24px" class="cursorPointer mr-5" (click)="closePopup()"
      alt="crosstab" />
  </div>
  <div style="margin-left: 0px ;" id="popup" class="d-flex row justify-content-center align-items-center p-3">
    <h2>Order Details</h2>
    <p><strong>Order ID:</strong><span id="orderId" class="padd">{{modelData.product.orderId}} </span></p>
    <p><strong>Name:</strong><span id="name" class="padd">{{getOrderName(modelData.product.orderName)}} </span></p>
    <p><strong>Price:</strong> <span id="price" class="padd">{{modelData.product.orderTotal}}</span></p>
    <p><strong>Date:</strong> <span id="date" class="padd">{{modelData.product.orderDate|date}}</span></p>
  </div>
  <div style="width:450px; margin-left: 0px ;"  class=" mt-3 d-flex row justify-content-center align-items-center">
    <button  style="width:120px;height:40px" type="button" class="btn btn-secondary" (click)="closePopup('NO')">
      close
    </button>
  </div>
</ng-container>
<!-- <ng-container *ngIf="this.modelData.title == 'PAYMENT-SUCCESS'">

        <div class="header-container w-100">
        </div>
        <div class="w-100">
          <div class="mt-1" id="countdown">
            You will be redirected to Your Orders in
            <span id="timer">{{ countDownTimer }}</span> seconds...
          </div>
        </div>
        <div class="div-container mt-5">
          <img class="Success_Img" src="assets/check.png" alt="Success_Img" />
        </div>
        <div class="text-center text-success successText mt-5">
          Payment Success
          <h3 class="mt-3 text-dark">
            Order Id:
            <span class="text-primary">{{ modelData?.res?.orderNumer }}</span>
          </h3>
        </div>
      
        <div class="buttonsContainer">
          <button class="btn buttongray btn-default" (click)="closePopup('REDIRECT-ORDERS')">
            Check Orders
          </button>
        </div>
      </ng-container> -->

      <ng-container *ngIf="this.modelData.title == 'ADD_TO_CART'">
        <div class="header-container p-3 d-flex container align-items-end justify-content-end">
          <img  src="/assets/img/cross.png" height="24px" width="24px" class="cursorPointer mr-5" (click)="closePopup()" alt="crosstab" />
        </div>
        <div class="text-center p-1 text-success successText">
          <img width="330px" height="200px" [src]="getPizzaImageSource(this.modelData.product.pizzaId )" alt="pizzaImg">
        </div>
        <div  style="padding-left:13px;" class="perrponis">
          <h2 style="margin-top: 10px;" >{{this.modelData?.product?.pizzaName}}</h2>
          <label  for="dropdown">Quantity</label>
    <select   style="width: 35px; margin-left: 8px;" [(ngModel)]="this.modelData?.product.productQuantity" id="dropdown" name="fruit">
        <option *ngFor="let i of [1,2,3,4,5,6,7,8,9] " [value]="i">{{i}}</option>
    </select>
    <div class="d-flex justify-content-start align-items-center mt-2">
      <label class="m-1" for="dropdown">Toppings</label>
      <select   style="width:80px;height:35px; margin-left: 8px;" [(ngModel)]="selectedTopings" id="dropdown" name="fruit">
        <option *ngFor="let i of allTopings " [value]="i">{{i}}</option>
    </select>
      <div style="margin-left: 18px;" class="buttonforQuantity d-flex justify-content-between align-items-center">
        <div (click)="minusQuantity(this.modelData?.pepporoniCount)" class="Minus cursorPointer">-</div>
        <div class="quantityCount">{{this.modelData?.pepporoniCount}}</div>
        <div (click)="plusQuantity(this.modelData?.pepporoniCount)" class="Plus cursorPointer">+</div>
      </div>
    </div>
        </div>
        <div class="buttonsContainer mt-3">
            <button type="button"  (click)="closePopup('NO')" class="btn btn-secondary">
                Cancel
              </button>
              
              <button (click)="addToCart()" type="button" class="btn btn-primary">
                Add to Cart
              </button>
              
        </div>
      </ng-container>