.footer {
    color: #fff;
    text-align: center;
   background-color:#353535

    /* Push the footer to the bottom */
}
/* .attribute{
    width: 100%;
    position: absolute;
    bottom: 1px;
} */
/* app-footer{
    margin-top:auto !important;
} */