<div class="container" *ngIf="myOrdersList?.length > 0">
    <div class="fullpage" *ngFor="let order of myOrdersList">

        <div class="eventDate">
            <div class="date "><span class="textColor">Event date: </span> {{order.eventDate |date: 'MM/dd/yyyy h:mm a'
                }}</div>
            <div class="status"><span class="textColor">Status: </span>{{order.orderStatus | titlecase}}</div>
        </div>
        <div class="content">
            <div class="imageDiv">
                <div class="serviceImage"><img class=" serImg" src="./../../../../assets/Frame 446(1).svg"></div>
                <div class="details">
                    <div>{{order.eventName}}</div>
                    <div>{{order.total}}</div>
                    <div><span class="textColor">Included: </span>{{order.included}}</div>
                    <div><span class="textColor">Order Date: </span>{{order.orderDate|date: 'MM/dd/yyyy h:mm a' }}</div>
                </div>
            </div>
        </div>

    </div>


</div>

<div *ngIf="myOrdersList?.length === 0">
    <h5 class="text-center">No data available</h5>
</div>