<div class="container trackFullPage mt-4" *ngIf="myOrdersList?.length > 0">
        <!-- Bootstrap Table -->
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Pizza Name</th>
                    <th scope="col">Quantity</th>
                    <!-- <th scope="col">Topping Name</th> -->
                    <th scope="col">Topping Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <!-- Row 1 -->
                <tr *ngFor="let order of myOrdersList;let i=index">
                    <td class="text-primary">{{order.orderId}}</td>
                    <td>{{getOrderName(order.orderName)}}</td>
                    <td>{{order.pizzaQuantity}}</td>
                    <td>{{order.toppingQuantity}}</td>
                    <!-- <td>Extra Cheese</td> -->
                    <td>{{order.orderTotal|currency:'INR':'symbol':'1.2-2'}}</td>
                </tr>
            </tbody>
        </table>
        </div>
<div *ngIf="myOrdersList?.length === 0">
    <h5 class="text-center">No data available</h5>
</div>