<div class=' mt-5 d-flex justify-content-center align-items-center'>
  <div class="card">
    <form>
      <h1>Customer </h1>
      <input  autocomplete="off" [ngModelOptions]="{standalone: true}" type="text" [(ngModel)]="loginSchema.id" placeholder="Email or Username" />
      <input type="password"[ngModelOptions]="{standalone: true}" [(ngModel)]="loginSchema.password" placeholder="Password" />
      <button  (click)="loginAsUser()" class="button link">Login</button>
      <p class="link">
       <span
          class="forget"
          >Admin Login</span
        >
      </p>
      <h5 (click)="navigateToLogin()">create account?<a class="text-primary cursorPointer" > Create</a></h5>
    </form>
</div>
</div>
