@media only screen and (max-width: 600px) {
    .centered-text p {
        font-size: 14px;
    }
}
.centered-text {
    text-align: center;
}
.fullSection{
    padding: 20px;
    margin: 6px;
    background-image: url('/assets/img/dummyImage.jpg');
    background-size: cover;
    color: white;
    font-style: italic;
}